@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    background: rgb(235,235,235);
    background: -moz-linear-gradient(315deg, rgba(235,235,235,1) 0%, rgba(240,240,240,1) 100%);
    background: -webkit-linear-gradient(315deg, rgba(235,235,235,1) 0%, rgba(240,240,240,1) 100%);
    background: linear-gradient(315deg, rgba(235,235,235,1) 0%, rgba(240,240,240,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ebebeb",endColorstr="#f0f0f0",GradientType=1);
}
.example{
    background-color: rgb(42, 42, 42);
    color: white;
    border-radius: 10px;

    padding: 40px 80px;

    position: relative;
}
.callFunction{
    color: rgb(23, 236, 23);
}
.functionEscope{
    color: rgb(221, 73, 221);
}
.string{
    color: rgb(255, 255, 67);
}
.functionBr{
    color: white;
}
.comment{
    font-style: italic;
    font-size: 14px;
    color: rgb(219, 219, 219);

    margin-left: 14px;
}
.bol{
    color: rgb(137, 89, 159);
}
.line{
    margin-left: 30px;
}


.elipsis{
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    gap: 5px;
}
.elipsis div{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: white;
}
.elipsis div:first-child{
    background-color: rgb(255, 47, 47);
}
.elipsis div:nth-child(2){
    background-color: rgb(255, 255, 59);
}
.elipsis div:last-child{
    background-color: rgb(62, 255, 62);
}

button{
    padding: 8px 16px;
    font-size: 22px;
    cursor: pointer;

    background-color: transparent;
    outline: none;
    border: 2px solid rgb(69, 69, 255);
    color: rgb(69, 69, 255);
    border-radius: 5px;

    transition: .3s;
}
button:hover{
    background-color: rgb(69, 69, 255);
    color: white;
    border-color: white;
}